.aside-wrapper {
  width: 600px;
}

.aside-content-wrapper {
  width: 30%;
  float: right;
  margin-left: 50px;
  font-style: italic;
  border-style: solid;
  border-width: thin;
  border-color: #000;
}

.aside-content {
  margin: 7px;
}
